<app-navbar></app-navbar>


<h1>About Dev team</h1>

<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam assumenda praesentium tempora, provident porro facere asperiores vitae quia consectetur. Esse blanditiis doloribus rerum ratione beatae ullam fuga tempora repellendus alias.
</p>


<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam assumenda praesentium tempora, provident porro facere asperiores vitae quia consectetur. Esse blanditiis doloribus rerum ratione beatae ullam fuga tempora repellendus alias.
</p>

<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam assumenda praesentium tempora, provident porro facere asperiores vitae quia consectetur. Esse blanditiis doloribus rerum ratione beatae ullam fuga tempora repellendus alias.
</p>





<ul>
    <li><a routerLink="/about/team">TEAM</a> </li>
    <li><a routerLink="/about/company">COMPANY</a></li>
</ul>


<router-outlet></router-outlet>